* {
  box-sizing: border-box;
  margin: 0;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */
}

body {
  margin: 0;
  font-family: "Gowun Dodum", sans-serif;
}
